#Backend
DEBUG=1 # 0 for False, 1 for True
SECRET_KEY=

# Metti qui il tuo dominio e l'IP della VPS
ALLOWED_HOSTS=localhost,127.0.0.1

#Scenario Local
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=#db or ip
POSTGRES_PORT=